.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: auto; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    max-width: 400px; /* Limit the maximum width of the container */
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Increase margin for spacing between form groups */
  }
  
  .form-group label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-weight: bold; /* Make labels bold for better visibility */
  }
  
  .form-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%; /* Use 100% width for input fields */
    max-width: 200px; /* Limit the maximum width of the input fields */
  }
  
  .login-container button {
    width: 100%; /* Use 100% width for the button */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    margin-top: 10px;
    font-size: 14px;
  }
  